@id("ManagerAddWriteViewTasks")
permit (
  principal in Jans::Role::"manager",
  action in [Jans::Action::"Read", Jans::Action::"Share"],
  resource is Jans::Application
);
