@id("ManagerReadShareApp")
permit (
  principal in Jans::Role::"manager",
  action in [Jans::Action::"Read",
  Jans::Action::"Share"],
  resource == Jans::Application::"App"
);